/* ----- Responsive ----- */
@media (min-width: 480px) {
  .mobile {
    display: none;
  }
}

.desktop {
  display: none;
}
@media (min-width: 480px) {
  .desktop {
    display: block;
  }
}

/* ----- Flexbox ----- */
.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.flex-1 {
  flex: 1;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-grow-2 {
  flex-grow: 2;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.items-center {
  align-items: center;
}

.items-baseline {
  align-items: baseline;
}

.items-stretch {
  align-items: stretch;
}

/* ----- Sizing ----- */
.h-full {
  height: 100%;
}

.h-screen {
  height: 100vh;
}

.min-h-0 {
  min-height: 0;
}

.w-320 {
  width: 320px;
}

.w-full {
  width: 100%;
}

.w-screen {
  width: 100vh;
}

/* ----- Margin ----- */
.m-0 {
  margin: 0;
}

.m-1 {
  margin: var(--spacing-1);
}

.m-2 {
  margin: var(--spacing-2);
}

.m-3 {
  margin: var(--spacing-3);
}

.ml-1 {
  margin-left: var(--spacing-1);
}

.ml-2 {
  margin-left: var(--spacing-2);
}

.ml-3 {
  margin-left: var(--spacing-3);
}

.mr-1 {
  margin-right: var(--spacing-1);
}

.mr-2 {
  margin-right: var(--spacing-2);
}

.mr-3 {
  margin-right: var(--spacing-3);
}

.mt-1 {
  margin-top: var(--spacing-1);
}

.mt-2 {
  margin-top: var(--spacing-2);
}

.mt-3 {
  margin-top: var(--spacing-3);
}

.mb-1 {
  margin-bottom: var(--spacing-1);
}

.mb-2 {
  margin-bottom: var(--spacing-2);
}

.mb-3 {
  margin-bottom: var(--spacing-3);
}

.mb-4 {
  margin-bottom: var(--spacing-4);
}

.mb-5 {
  margin-bottom: var(--spacing-5);
}

.mb-6 {
  margin-bottom: var(--spacing-6);
}

/* ----- Padding ----- */
.p-0 {
  padding: 0;
}

.p-1 {
  padding: var(--spacing-1);
}

.p-2 {
  padding: var(--spacing-2);
}

.p-3 {
  padding: var(--spacing-3);
}

.px-2 {
  padding: 0 var(--spacing-2);
}

/* ----- Borders ----- */
.rounded {
  border-radius: 4px;
}

/* ----- Overflow ----- */
.overflow-auto {
  overflow: auto;
}

/* ----- Typography ----- */
.title {
  margin: 0;
  font-size: 30px;
  line-height: 1;
}

/* ----- Backgrounds ----- */
.bg-primary-50 {
  background-color: var(--primary-50);
}

.bg-primary-main {
  background-color: var(--primary-main);
}

.bg-secondary-50 {
  background-color: var(--secondary-50);
}

.bg-secondary-main {
  background-color: var(--secondary-main);
}

/* ----- Paper ----- */
.paper {
  background-color: var(--bg-paper);
}

/* ----- Card ----- */
.card {
  padding: var(--spacing-2);
  border-radius: 4px;
  cursor: pointer;
}

.card--primary {
  background-color: var(--primary-dark);
  color: var(--text-primary-default);
  border: 3px solid var(--primary-dark);
}

.card--selected {
  border: 3px solid var(--secondary-main);
}

/* ----- Forms ----- */
label {
  display: inline-block;
  margin-bottom: var(--spacing-1);
}

/* ----- Buttons ----- */
.btn {
  padding: 1rem 2rem;
}

.btn-sm {
  padding: 0.6rem 2rem;
}

.btn-lg {
  font-size: 20px;
  line-height: 1.5;
}

.btn-secondary {
  background-color: var(--secondary-main);
  color: var(--text-secondary-default);
}

.btn-outline-secondary {
  background-color: transparent;
  color: var(--text-secondary-default);
  border: 1px solid var(--text-secondary-default);
}

:root {
  /* ----- Color Palette ----- */
  --black: #000000;
  --white: #ffffff;

  --grey-50: #fafafa;
  --grey-100: #f5f5f5;
  --grey-200: #eeeeee;
  --grey-300: #e0e0e0;
  --grey-400: #bdbdbd;
  --grey-500: #9e9e9e;
  --grey-600: #757575;
  --grey-700: #616161;
  --grey-800: #424242;
  --grey-900: #212121;

  --primary-50: #dceefb;
  --primary-100: #b6e0fe;
  --primary-200: #84c5f4;
  --primary-300: #62b0e8;
  --primary-400: #4098d7;
  --primary-500: #2680c2;
  --primary-600: #186faf;
  --primary-700: #0f609b;
  --primary-800: #0a558c;
  --primary-900: #003e6b;

  --secondary-50: #fffbea;
  --secondary-100: #fff3c4;
  --secondary-200: #fce588;
  --secondary-300: #fadb5f;
  --secondary-400: #f7c948;
  --secondary-500: #f0b429;
  --secondary-600: #de911d;
  --secondary-700: #cb6e17;
  --secondary-800: #b44d12;
  --secondary-900: #8d2b0b;

  --neutral-50: #f0f4f8;
  --neutral-100: #d9e2ec;
  --neutral-200: #bcccdc;
  --neutral-300: #9fb3c8;
  --neutral-400: #829ab1;
  --neutral-500: #627d98;
  --neutral-600: #486581;
  --neutral-700: #334e68;
  --neutral-800: #243b53;
  --neutral-900: #102a43;

  --bg-default: var(--grey-50);
  --bg-paper: var(--white);

  --primary-light: var(--primary-500);
  --primary-main: var(--primary-800);
  --primary-dark: var(--primary-900);

  --secondary-light: var(--secondary-200);
  --secondary-main: var(--secondary-400);
  --secondary-dark: var(--secondary-800);

  --neutral-light: var(--neutral-50);
  --neutral-main: var(--neutral-600);
  --neutral-dark: var(--neutral-900);

  /* text colors on normal background */
  --text-default: var(--neutral-900);
  --text-muted: var(--neutral-600);

  /* text colors on primary background */
  --text-primary-default: var(--white);
  --text-primary-muted: var(--neutral-200);

  /* text colors on secondary background */
  --text-secondary-default: var(--neutral-900);

  /* ----- Chota Overrides ----- */
  --bg-color: var(--grey-50);
  --color-primary: var(--primary-800);
  --font-color: var(--neutral-900);
  --grid-maxWidth: 80rem;

  /* ----- Spacing ----- */
  --spacing-1: 8px;
  --spacing-2: 16px;
  --spacing-3: 24px;
  --spacing-4: 32px;
  --spacing-5: 40px;
  --spacing-6: 48px;
}
